<!DOCTYPE html>
<html>
  <head>
    <title>OnlineBank</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>


  </head>

  <body>
    <div class="container">
      <header class = "main">

    <h2>Sydney Bank</h2>

     <% if @current_user.present? %>
     <nav>

        <%= link_to @current_user.name , @current_user %>
        |
        <%= link_to 'Logout', login_path, method: :delete %>
     <% else %>
     <div class="link">
       <%= link_to 'Login', login_path %>
       |


        <%= link_to 'SignUp', new_user_path %>
        </div>
        </nav>


     <% end %>
     </header>




    <%= yield %>

    <br>

    <div class="footer">
  <p>Footer</p>
</div>




  </div>
  </body>
</html>
