<br>
<hr>
<div class="col-xs-12 col-md-8">
<p class="bg-danger">Account number:<%= @account.accountnumber %></p>
<p class="bg-danger">Account Type: <%= @account.account_type %></p>
<p class="bg-danger">Current Balance: <%= @account.balance %></p>

<br>
<hr>
<h4>From Transactions: </h4>

<% @account.from_transactions.each do |transaction| %>

<li>
  <p class="bg-info">Transaction Ammount: <%= transaction.ammount %> ,  Description: <%= transaction.description %> </p>
</li>
    <% end %>

<br>
<hr>
<h4>To Transactions: </h4>

<% @account.to_transactions.each do |transaction| %>

<li>
  <p class="bg-primary">Transaction Ammount: <%= transaction.ammount %> ,  Description: <%= transaction.description %> </p>
</li>
    <% end %>
</div>





<%= link_to 'Create New Account', "/accounts/new" %>
|
<%= link_to 'Delete', account_path , method: 'delete' %>
