<br>
<hr>
<h4>Account Information</h4>
<hr>
<div class="col-xs-12 col-md-8">
<p class="bg-danger">Account number:<%= @account.accountnumber %></p>
<p class="bg-danger">Account Type: <%= @account.account_type %></p>
<p class="bg-danger">Current Balance: <%= @account.balance %></p>
<p class="bg-danger">Account Created on : <%= @account.date_opened %></p>

<br>
<%= link_to 'Withdraw Funds', new_account_transaction_path( @account, type: :from ) %>

<%= link_to 'Desposit Funds', new_account_transaction_path( @account, type: :to ) %>

<hr>
<h4>Transaction History</h4>

<hr>
<h5>From Transactions: </h5>

<% @account.from_transactions.each do |transaction| %>

<li>
  <p class="bg-info">Transaction Ammount: <%= transaction.ammount %> ,  Description: <%= transaction.description %> </p>
</li>
    <% end %>

<br>
<hr>
<h5>To Transactions: </h5>

<% @account.to_transactions.each do |transaction| %>

<li>
  <p class="bg-primary">Transaction Ammount: <%= transaction.ammount %> ,  Description: <%= transaction.description %> </p>
</li>
    <% end %>
</div>







<%= link_to 'Delete Account', account_path , method: 'delete' %>
